<h1><%= @poll.title %></h1>

<%= form_for [ @poll, @reply ] do |f| %>
	<%= f.fields_for :answers do |c| %>
		<%= render c.object.question.kind, c: c %>
	<% end %>
	<p><%= f.submit "Finish poll", class: "btn btn-primary" %></p>
<% end %>
